# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages used in Data Science
- List some of the common libraries used in Data Science
- Evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
    
   **Python**
    
    1. Pandas
    2. Numpy
    3. Matplotlib
    4. Seaborn
    5. Scikit-Learn
    
    
   **R**
   
    1. ggplot2
    2. dplyr
    3. stringr
    4. caret

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|Rstudio|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60.
200/6

33.333333333333336

## Autor 
Miriam Rodr√≠guez